$filled-star-color: white;
$empty-star-color: #bbb;
$star-size: 22px;

.star-rating {
  font-family: FontAwesome;
  font-size: $star-size;
  color: $empty-star-color;
  position: relative;

  span::before,
  &::before {
    content: "\f005\f005\f005\f005\f005";
    display: block;
  }

  span {
    color: $filled-star-color;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }
}
