.sidebar {
    background: $lighter;
    background: linear-gradient(to bottom, $lighter, $darker);
    padding: 25px;
    color: white;
    margin-right: 15px;

    .heading {
        font-size: 1.2em;
    }
}
